<div class="modal fade" id="joinRideConfirmModal" tabindex="-1" aria-labelledby="joinRideConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinRideConfirmModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to join this ride?</p>
                <p><i class="fas fa-info-circle"></i> Please note: The owner of this ride will be able to see your phone number and full name.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmJoinRide">Yes, Join Ride</button>
            </div>
        </div>
    </div>
</div>